/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Apply font to elements */

.banner {
    background-image: url('your-image-url.jpg'); /* Replace 'your-image-url.jpg' with the URL or path to your image */
    background-size: cover; /* Cover the entire element with the background image */
    background-color: #007bff; /* Blue color, you can change it */
    color: #ffffff; /* White text color, you can change it */
    padding: 60px;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 36px;
}

.banner p {
    margin: 10px 0;
    font-size: 18px;
}


h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
}


p, li, ul {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}

footer {
    margin-top: auto;
}
